@using IndioMendoza2013.Modelos
@model modBondiRicotero

<script language="javascript" type="text/javascript">

    function btnSubmit_click() {
        $("#frmAgregarBondisRicoteros").submit();
    }

    function frmAgregarBondisRicoteros_success() {
        alert('Bondi Agregado Correctamente');
        document.location = '@Url.Action( "Agregar", "BondisRicoteros" )';
    }

    function frmAgregarBondisRicoteros_failure(error) {
        alert($(error.response)[1].innerHTML);
    }

    $(function () {
        $('#id_provincia').change(function () {
            var idProvincia = $(this).val();
            if (idProvincia != null && idProvincia != '') {
                $.getJSON('@Url.Action("GetZonas")', { idProvincia: idProvincia }, function (zonas) {
                    var cboZonas = $('#Id_Zona');
                    cboZonas.empty();
                    cboZonas.removeAttr("disabled");
                    cboZonas.append($('<option/>', {
                        value: null,
                        text: null
                    }));
                    $.each(zonas, function (index, zona) {
                        cboZonas.append($('<option/>', {
                            value: zona.id,
                            text: zona.descripcion
                        }));
                    });
                });
            }
        });
    });

    function AgregarProvincia() {
        $('#modalAgregarProvincia').load('/BondisRicoteros/AgregarProvincia/', function () {
            $("#modalAgregarProvincia").dialog({
                title: 'Agregar Provincia',
                resizable: false,
                height: 400,
                width: 600,
                modal: true
            });
        });
    }

    function AgregarZona() {
        $('#modalAgregarZona').load('/BondisRicoteros/AgregarZona/', function () {
            $("#modalAgregarZona").dialog({
                title: 'Agregar Zona',
                resizable: false,
                height: 400,
                width: 600,
                modal: true
            });
        });
    }

</script>

     
@using (Ajax.BeginForm("AgregarBondi", "BondisRicoteros", new AjaxOptions
{
    UpdateTargetId = "divResultados",
    InsertionMode = System.Web.Mvc.Ajax.InsertionMode.Replace,
    OnSuccess = "frmAgregarBondisRicoteros_success",
    OnFailure = "frmAgregarBondisRicoteros_failure"
},
new { id = "frmAgregarBondisRicoteros" }))
{
    <div style="width:100%; height:100%; min-height: 800px;">
    <table width="100%" cellpadding="5px">
    <tr>
        <td width="20%">
            Nombre:
        </td>
        <td width="80%">
            @Html.TextBoxFor(x => x.Nombre, new { style = "width:300px;" })
        </td>
    </tr>
    <tr>
        <td>
            Provincia:
        </td>
        <td>
            @Html.DropDownList("id_provincia", new SelectList(ViewBag.ListProvincias, "id", "descripcion"), string.Empty, new { style = "width: 300px" }) <img onclick="javascript:AgregarProvincia();" style="cursor:pointer;" src="/Content/img/botones/add_button.jpg" width="16px"/>
        </td>
    </tr>
    <tr>
        <td>
            Zona:
        </td>
        <td>
            @Html.DropDownListFor(x => x.Id_Zona, new SelectList(ViewBag.ListZonas, "id", "descripcion"), string.Empty, new { style = "width: 300px", disabled = "disabled" }) <img onclick="javascript:AgregarZona();" style="cursor:pointer;" src="/Content/img/botones/add_button.jpg" width="16px"/>
        </td>
        
    </tr>
    <tr>
        <td>
            Descripción Corta:
        </td>
        <td>
            @Html.TextAreaFor(x => x.Descripcion, new { style = "width: 600px; height: 100px;" })
        </td>
    </tr>
    <tr>
        <td>
            Descripción Larga:
        </td>
        <td>
            @Html.TextAreaFor(x => x.Detalle, new { style = "width: 600px; height: 200px;" })
        </td>
    </tr>
    <tr>
        <td style="text-align:center;" colspan="2">
            <input id="btnSubmit" type="button" style="font-size:large; font-weight:bold;" value="Agregar" onclick="javascript: return btnSubmit_click();" />
        </td>
    </tr>
    </table>
    </div>
    <div id="divResultados"></div>
}
<div id="modalAgregarProvincia">

</div>

<div id="modalAgregarZona">

</div>