@using IndioMendoza2013.Modelos
@model FiltroBondisRicoteros

<script type="text/javascript">

    $(function () {
        $('#id_provincia').change(function () {
            var idProvincia = $(this).val();
            if (idProvincia != null && idProvincia != '') {
                $.getJSON('@Url.Action("GetZonasByID")', { idProvincia: idProvincia }, function (zonas) {
                    var cboZonas = $('#id_zona');
                    cboZonas.empty();
                    cboZonas.removeAttr("disabled");
                    cboZonas.append($('<option/>', {
                        value: null,
                        text: null
                    }));
                    $.each(zonas, function (index, zona) {
                        cboZonas.append($('<option/>', {
                            value: zona.id,
                            text: zona.descripcion
                        }));
                    });
                });
            }
        });

        $("#btnSubmit").button();
    });

    function btnSubmit_click() {
        $("#frmBondisRicoteros #Pagina").val(1);
        $("#frmBondisRicoteros").submit();
    }
</script>
<fieldset style="height 40px; border: 1px solid Black">
<legend>Búsqueda</legend>
    <table width="100%" border="0" >
    <tr>
        <td width="5%" style="vertical-align:middle !important;font-weight: bold;">Nombre:</td>
        <td width="25%" style="vertical-align:middle !important;">@Html.TextBoxFor(x => x.Nombre, new { style = "width: 250px" })</td>
        <td width="5%" style="vertical-align:middle !important;font-weight: bold;">Provincia:</td>
        <td width="15%" style="vertical-align:middle !important;">@Html.DropDownListFor(x => x.id_provincia, new SelectList(ViewBag.ListProvincias, "id", "descripcion"),string.Empty, new { style = "width: 175px" })</td>
        <td width="5%" style="vertical-align:middle !important;font-weight: bold;">Zona:</td>
        <td width="15%" style="vertical-align:middle !important;">@Html.DropDownListFor(x => x.id_zona, new SelectList(ViewBag.ListZonas, "id", "descripcion"), string.Empty, new { style = "width: 175px", disabled = "disabled" })</td>
        <td width="30%" style="vertical-align:middle !important; padding-left:10px;"><input style="width: 100px;" id="btnSubmit" type="button" value="Buscar" onclick="javascript: return btnSubmit_click();" /></td>
    </tr>
    </table>
    @Html.HiddenFor( x => x.Pagina)
</fieldset>
