@using IndioMendoza2013.Modelos
@model IEnumerable<modBondiRicotero>
<script language="javascript" type="text/javascript">

    function CompartirBondiRicotero(nombre, zona, descripcion) {
        FB.ui(
          {
              method: 'feed',
              name: nombre,
              caption: zona,
              description: descripcion,
              link: '@Request.Url',
              picture: 'http://a11.t26.net/avatares/1/1/4/7/120_11474658.jpg'
          },
          function (response) {
              if (response && response.post_id) {
                  self.close();
              }
          }
        );
    }

    function MostrarDetalleBondiRicotero(id) {

        $('#modalDetalleBondi').load('BondisRicoteros/DetalleBondi/' + id, function () {
            $("#modalDetalleBondi").dialog({
                title: 'Bondi Ricotero',
                resizable: false,
                height: 400,
                width: 600,
                modal: true
            });
        });

    }
</script>
<hr />
@foreach (var item in Model)
{
    <div>
    <b>@item.Nombre</b><br />
    Zona: @item.Des_Zona, @item.Des_Provincia<br /><br />
    @item.Descripcion<br /><br />
    <a href="javascript:CompartirBondiRicotero('@item.Nombre', '@item.Des_Zona, @item.Des_Provincia', '@item.Descripcion');">Compartir</a>
    <a href="javascript:MostrarDetalleBondiRicotero(@item.ID);">Detalle</a>
    <hr />
    </div>
}
<div id="modalDetalleBondi"></div>