@using IndioMendoza2013.Modelos
@model IEnumerable<modBondiRicotero>
<script language="javascript" type="text/javascript">

    function CompartirBondiRicotero(nombre, zona, descripcion) {
        FB.ui(
          {
              method: 'feed',
              name: 'Bondi Ricotero a Mendoza: ' + nombre,
              caption: zona,
              description: descripcion,
              link: '@(System.Configuration.ConfigurationManager.AppSettings["URLPag"])/BondisRicoteros',
              picture: 'http://3.bp.blogspot.com/-P9x_PtQGHso/UaaFm5TwRaI/AAAAAAAAHwM/yRNI2SFkFZo/s320/BondiRicotero_2.png'
          },
          function (response) {
              if (response && response.post_id) {
                  alert('El bondi ha sido compartido correctamente.');
                  self.close();
              }
          }
        );
    }

    function MostrarDetalleBondiRicotero(id) {

        $('#modalDetalleBondi').load('/BondisRicoteros/DetalleBondi/' + id, function () {
            $("#modalDetalleBondi").dialog({
                title: 'Bondi Ricotero',
                resizable: false,
                height: 600,
                width: 600,
                modal: true
            });
        });

    }

    $(function () {
        $(".fbButton, .DetalleBondi").button();
    });
</script>

<table>
    <tr><td colspan="2"><hr /></td></tr>
@foreach (var item in Model)
{
    <tr >
       <td style="width: 875px">
            <b style="font-size:medium;">@item.Nombre</b><br />
            <i>Zonas: @item.ZonasStr</i><br /><br />
            @Html.Raw(item.Descripcion)<br /><br />
            <a style="width: 110px;" class="DetalleBondi" href="javascript:MostrarDetalleBondiRicotero(@item.ID);"><img width="16px" src="/Content/img/lupa.gif"  /> Detalle</a> <a style="width: 110px;" class="fbButton" href="javascript:CompartirBondiRicotero('@item.Nombre', '@item.ZonasStr', '@item.Descripcion');"><img width="12px" src="/Content/img/facebookLink.png" /> Compartir</a><br >
        </td>
    </tr>
    <tr><td colspan="2">
        <hr />
    </td></tr>
}
</table>
<div id="modalDetalleBondi"></div>