@using IndioMendoza2013.Modelos;
@model modPosicionRicotera
           
<script language="javascript" type="text/javascript">

    function frmPosicionRicotera_success() {
        alert("Gracias por participar. Contale a tus amigos y conocidos sobre esta movida.. ¡llenemos todos el mapa ricotero!");

        FB.ui(
          {
              method: 'feed',
              name: 'Yo ya me anoté ¿qué esperas?',
              caption: 'Mapa Ricotero',
              description: 'Agregá tu punto de partida y mostremos lo que significa una movilización ricotera.',
              link: '@(System.Configuration.ConfigurationManager.AppSettings["URLPag"])/MapaRicotero',
              picture: 'http://2.bp.blogspot.com/-BfvOBB2mhk8/UaaJpU6-URI/AAAAAAAAHwg/eEr4y1-S3v8/s320/MapaRicotero_Facebook.png'
          },
          function (response) {
              window.location.href = "/MapaRicotero";
          }
        );
    }

    function frmPosicionRicotera_failure(error) {
        alert($(error.response)[1].innerHTML);
    }


    function btnSubmit_click() {
        if (marker != null) {
            $("#frmPosicionRicotera #Latitud").val(parseFloat(marker.position.lat()));
            $("#frmPosicionRicotera #Longitud").val(parseFloat(marker.position.lng()));
            $("#frmPosicionRicotera").submit();
        }
        else {
            alert('Debe seleccionar una posición.');
        }
        return false;
    }

    var map = null;
    var marker = null;

    // Clear all overlays, reset the array of points, and hide the chart
    function reset() {
        if (marker)
            marker.setMap(null);
    }

    // Add a marker and trigger recalculation of the path and elevation
    function addMarker(latlng) {
        reset();
        marker = new google.maps.Marker({
            position: latlng,
            map: map,
            draggable: true,
            icon: { url: "/Content/img/PR-ICON.png" }
        })
    }

    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(initialize);

    function initialize() {
        var myLatlng = new google.maps.LatLng(-34.598489887510254, -58.42017665505409);
        var myOptions = {
            zoom: 4,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }

        map = new google.maps.Map(document.getElementById("mapArgentinaGeneral"), myOptions);

        google.maps.event.addListener(map, 'click', function (event) {
            addMarker(event.latLng);
        });
    }

    $(function () {
        initialize();
        $("#btnSubmit").button();
    });

</script>

@using (Ajax.BeginForm("Guardar", "Home", new AjaxOptions {
    UpdateTargetId = "divResult",
    InsertionMode = System.Web.Mvc.Ajax.InsertionMode.InsertAfter,
    OnSuccess = "frmPosicionRicotera_success",
    OnFailure = "frmPosicionRicotera_failure"
}, 
new { id = "frmPosicionRicotera" }))
{
    <table border="0" style="width:100%; height:100%; min-height: 800px;">
    <tr>
        <td rowspan="5">
            @Html.HiddenFor(x => x.Latitud)
            @Html.HiddenFor(x => x.Longitud)

            <div id="mapArgentinaGeneral" style="width:700px; height:600px"></div>
        </td>
        <td style="height: 45px" nowrap="nowrap">Nombre:<br />@Html.TextBoxFor(x => x.Nombre, new { style = "width:95%;" })</td>
    </tr>
    <tr><td style="height: 105px" >Comentarios:<br />@Html.TextAreaFor(x => x.Comentarios, new { style = "width:95%;" })</td></tr>
    <tr><td style="text-align: right;height: 30px;"><input id="btnSubmit" type="button" value="Enviar" onclick="javascript: return btnSubmit_click();" /></td></tr>
    <tr><td style="height:50px"><div >@Html.ValidationSummary("")</div></td></tr>
    <tr>
        <td style="vertical-align: top">
            <b><u>Instrucciones</u></b><br /><br />
            1) En el mapa, buscá tu punto de partida (te aconsejamos utilizar el zoom) y hacé click una vez que lo encuentres.<br /><br />
            2) Completá los campos con tu nombre y algún comentario adicional.<br /><br />
            3) Presioná "enviar".<br /><br />
        </td>
    </tr>
    </table>
    <div id="divResult"></div>
}

